{% extends "store/base_template.html"%}

{% load static %}

{% block title %} Products list {% endblock %}

{% block content %}
<main>
  <div class="album py-5 bg-light">
    <div style="margin-left: 100px;">
        <h1>Products</h1>
    </div>
    <br>
        <br>
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for product in object_list %}
            <div class="col">
              <div class="card h-100 shadow-sm">
                <h3><a class="nav-link link-dark" href="">{{product.title}}</a></h3>
                {% if product.image %}
                 <div class="card-body">
                <a class="bd-placeholder-img card-img-top" href=""><img class="card-img-top" src=" {{ product.image.url }}"></a>
                 </div>
                {% endif %}
                <div class="card-footer">
                  <p class="card-text">{{product.description}}</p>
                  <div class="d-flex justify-content-between align-items-center ">
                    <div>
                      <p>{{product.price}} $</p>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                    </div>
                    <small class="text-muted">{{product.post_date.date}}</small>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
          </div>
    </div>
    </div>
</main>
{% endblock%}